$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


@media (max-width: map-get($grid-breakpoints, 'md')) { 
  .container{max-width: 80% !important;  }
   
 }

 
@media (max-width: map-get($grid-breakpoints, 'sm')) { 
 .container{max-width: 90% !important; }
  
 }